**/.git/**
**/.gitignore
**/.vscode/**
**/.vscode-test/**
*.vsix

src/**
tsconfig.json

node_modules/**
!node_modules

**/*.map
**/*.ts

**/node_modules/**/__tests__/**
**/node_modules/**/test/**
**/node_modules/**/tests/**
**/node_modules/**/docs/**
**/node_modules/**/doc/**
**/node_modules/**/example/**
**/node_modules/**/examples/**
**/node_modules/**/src/**
**/node_modules/**/benchmark/**
**/node_modules/**/coverage/**
**/node_modules/**/.github/**
**/node_modules/**/.vscode/**
**/node_modules/**/*.md
**/node_modules/**/*.markdown
**/node_modules/**/*.map
**/node_modules/**/*.ts
**/node_modules/**/*.tsx
**/node_modules/**/*.mts
**/node_modules/**/*.cts
**/node_modules/**/tsconfig*.json

test.md
test/**
CONTRIBUTING.md
README.en.md
THIRD_PARTY_LICENSES.md
THIRD_PARTY_LICENSES.json
img/*.gif
img/error.png
img/icon1024.png
img/icon128.png
img/use.gif
